<% if current_user.id==1 then %>

  <%= form_for([@challenge, @challenge.tasks.build]) do |f| %>
      <div class="field">
        <%= f.label :title %>
        <%= f.text_field :title %>
      </div>
      <div class="field">
        <%= f.label :description %>
        <%= f.text_area :description %>
      </div>
      <div class="field time-selector">
        <%= f.label :time %>
        <%= time_select "task", "time", { :default => Time.now.change(:hour => 1), :simple_time_select => true, 
        :minute_interval => 20, :time_separator => "<span class='separator'>:</span>", :start_hour => 10, :end_hour => 14 } %>
      </div>
      <div class="field">
        <%= f.label :note %>
        <%= f.text_area :note %>
      </div>
      <div class="actions">
        <%= f.submit 'Add a Task', "data-role" => "button", "data-icon" => "plus", "data-theme" => "e" %>
      </div>
  <% end %>

<% end %>