<% title "Listing Tasks" %>

<div class="ui-body ui-body-c">

<%=  current_user.id %>
AND: <%= session[:current_user_id] %>

<ul data-role="listview" data-inset="true" data-filter="false">

  <% @tasks.each do |task| %>
  <li>
    <%= task.title %>
    <%= task.description %>
    <%= task.time %>
    <%= task.note %>
    <%= link_to 'Destroy', task, confirm: 'Are you sure?', method: :delete %>
    <%= link_to 'Edit', edit_task_path(task) %>
    <%= link_to 'Show', task %>

   <% task.gains.each do |gain| %>
     <%=  gain.status %>
     <%=  gain.note %>
     <%=  gain.user_id %>
   <% end %>

   </li>
   <% end %>
</ul>

<%= link_to 'New Task', new_task_path %>
</div>