<%= form_for(@challenge) do |f| %>
  <% if @challenge.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@challenge.errors.count, "error") %> prohibited this challenge from being saved:</h2>

      <ul>
      <% @challenge.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :note %>
    <%= f.text_area :note %>
  </div>
  <div class="field time-selector">
    <%= f.label :time %>
    <%= time_select "challenge", "time", { :default => Time.now.change(:hour => 1), :simple_time_select => true, 
    :minute_interval => 20, :time_separator => "<span class='separator'>:</span>", :start_hour => 10, :end_hour => 14 } %>  </div>
  <div class="actions">
    <%= f.submit 'Create Challenge', "data-role" => "button", "data-icon" => "plus", "data-theme" => "e" %>
  </div>
<% end %>
