<% title "Your Challenges" %>

  <div class="ui-body ui-body-c">

  <ul data-role="listview" data-inset="true" data-filter="false" class="space-btm space-top">
  	<% @challenges.each do |challenge| %>
      <li>
        <%= link_to raw(challenge.title + ' <span>' + challenge.description + ' ' + challenge.time.strftime('%H:%M') + '</span>'), challenge %>
        <div class="controls" style="display: none">
          <%= link_to 'Show', challenge %>
          <%= link_to 'Destroy', challenge, confirm: 'Are you sure?', method: :delete %>
          <%= link_to 'Edit', edit_challenge_path(challenge) %>
        </div>
      </li>
    <% end %>
  </ul>

  <%= link_to 'New Challenge', new_challenge_path, "data-role" => "button", "data-icon" => "gear", "data-theme" => "a" %>
  <%= link_to('Logout', destroy_user_session_path, :method => :delete, "data-role" => "button", "data-icon" => "gear", "data-theme" => "b") %>

  </div>