<h1>Listing challenges</h1>

  <ul data-role="listview" data-inset="true" data-filter="false">
  <% @challenges.each do |challenge| %>
  <li>
    <%= challenge.title %>
    <%= challenge.description %>
    <%= challenge.note %>
    <%= challenge.time %>
    <%= link_to 'Show', challenge %>
    <%= link_to 'Edit', edit_challenge_path(challenge) %>
    <%= link_to 'Destroy', challenge, confirm: 'Are you sure?', method: :delete %>
  </li>
  <% end %>
  </ul>

<%= link_to 'New Challenge', new_challenge_path %>
