<script>
    $(function () {


        $(".button").click(function(event) {

            $.ajaxSetup({
                beforeSend: function(xhr) {
                    xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'));
                }
            });

            event.preventDefault();
            var id1=$(this).attr("id");
            $.post("/ajax_complete",{status:true, id:id1});
        });

    });

</script>


<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @challenge.title %>
</p>

<p>
  <b>Description:</b>
  <%= @challenge.description %>
</p>

<p>
  <b>Note:</b>
  <%= @challenge.note %>
</p>

<p>
  <b>Time:</b>
  <%= @challenge.time %>
</p>


<%= render @challenge.tasks %>

<%= render "tasks/form" %>


<% @challenge.tasks.each do |task| %>

<h2><%= task.title %>: </h2> 
    <% task.gains.all(:conditions => {:user_id => current_user.id}).each do |gain| %>
    
          <%= gain.status %>
          <a href="#"  class="button" id="<%= gain.id %>">Complete</a>
        
    <% end %>
    <br>
    
<% end %>

<%= link_to 'Edit', edit_challenge_path(@challenge) %> |
<%= link_to 'Back', challenges_path %>
