<% title "Challenge: " + @challenge.title %>

<div data-role="header" data-theme="b">
	<h2>Tasks</h2>
</div><!-- /header -->

<div class="ui-body ui-body-c">

  <p id="notice"><%= notice %></p>

  <div>

    <p>
      <%= @challenge.description %>
    </p>

    <p>
      <b>Notes:</b>
      <%= @challenge.note %>
    </p>

    <p>
      <b>Time to complete:</b>
      <%= @challenge.time %>
    </p>

  </div>
  <% # render @challenge.tasks %>

    <ul data-role="listview" data-inset="true" data-filter="false" class="space-btm space-top">
      <% @challenge.tasks.each do |task| %>
      <li>

        <%= link_to raw("<h2>Task: " + task.title + "</h2><p>" + task.description + "</p>"), task %>

        <% i=1 %>

        <!-- <a href="#" class="button" id="<%= task.gains.where(user_id: current_user.id.to_i).first.id %>" data-token="Coo1?">UNDONE (AJAX will change status of task to UNDONE)</a></h2> -->


        <% task.gains.all(:conditions => {:user_id => current_user.id.to_i}).each do |gain| %>

    <!--        <a href="#" class="button" id="<%= gain.id %>" data-token="Coo1?">UNDONE (AJAX will change status of task to UNDONE)</a> -->

        <% i=7 %>

        <% end %>

        <% if i==1 then %>
            <!-- To create new one, using -1 in id -->
            No progresss
            <a href="#" class="button" id="<%= task.id %>" data-token="Cool?">DONE (If you press here, AJAX will change status of task to DONE)</a>

        <% end %>
      </li>

    <% end %>
  </ul>

  <%= render "tasks/form" %>


  <%= link_to 'Edit', edit_challenge_path(@challenge) %> |
  <%= link_to 'Back', challenges_path %>
</div>

<script>
    $(function () {


        $(".button").click(function(event) {

            $.ajaxSetup({
                beforeSend: function(xhr) {
                    xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'));
                }
            });

            event.preventDefault();
            var id1=$(this).attr("id");
            var token1=$(this).attr("data-token");
            if (token1=="Coo1?") {status1=false;} else {status1=true;}
            $.post("/ajax_complete",{status:status1, id:id1,token1: token1});
        });

    });

</script>
