<script>
    $(function () {


        $(".button").click(function(event) {

            $.ajaxSetup({
                beforeSend: function(xhr) {
                    xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'));
                }
            });

            event.preventDefault();
            var id1=$(this).attr("id");
            var token1=$(this).attr("data-token");
            if (token1=="Coo1?") {status1=false;} else {status1=true;}
            $.post("/ajax_complete",{status:status1, id:id1,token1: token1});
        });

    });

</script>


<p id="notice"><%= notice %></p>

<div style="background:gray">
<p>
  <b>Title:</b>
  <%= @challenge.title %>
</p>

<p>
  <b>Description:</b>
  <%= @challenge.description %>
</p>

<p>
  <b>Note:</b>
  <%= @challenge.note %>
</p>

<p>
  <b>Time:</b>
  <%= @challenge.time %>
</p>

</div>
<% # render @challenge.tasks %>



<% @challenge.tasks.each do |task| %>

    <h2>Task: <%= task.title %></h2>
    Description: <%= task.description %><br>
    
    <% i=1 %>

    <h2></h2><a href="#" class="button" id="<%= task.gains.where(user_id: current_user.id.to_i).first.id %>" data-token="Coo1?">UNDONE (AJAX will change status of task to UNDONE)</a></h2>


    <% task.gains.all(:conditions => {:user_id => current_user.id.to_i}).each do |gain| %>

        <h3>Status: <%= gain.status %></h3>
        <a href="#" class="button" id="<%= gain.id %>" data-token="Coo1?">UNDONE (AJAX will change status of task to UNDONE)</a>

        <% i=7 %>
        
    <% end %>

    <% if i==1 then %>
        <!-- To create new one, using -1 in id -->
        No progresss
        <a href="#" class="button" id="<%= task.id %>" data-token="Cool?">DONE (If you press here, AJAX will change status of task to DONE)</a>

    <% end %>


    <br>

<% end %>

<%= render "tasks/form" %>


<%= link_to 'Edit', edit_challenge_path(@challenge) %> |
<%= link_to 'Back', challenges_path %>
