<!DOCTYPE html>
<html>
<head>
  <title>Social Anxiety Buster</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <link rel="stylesheet" href="http://code.jquery.com/mobile/1.0.1/jquery.mobile-1.0.1.min.css" />
  <script src="http://code.jquery.com/jquery-1.6.4.min.js"></script>
  <script src="http://code.jquery.com/mobile/1.0.1/jquery.mobile-1.0.1.min.js"></script>

  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>

</head>
<body>

  <div data-role="page">

  	<div data-role="header" class="<%= "#{request[:controller]}_#{request[:action]}".gsub(/\//,'_') %>">
      <h1><%= yield :title %></h1>
      <a href="index.html" data-rel="back" data-icon="arrow-l" data-corners="true" data-shadow="true" data-iconshadow="true" data-inline="false" data-wrapperels="span">Back</a>
  	</div><!-- /header -->
  	
    <%= yield %>

  </div><!-- /page -->

</body>
</html>
